.weather-app {
    padding: 40px 10px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 20px;
    background-color: white;
    max-width: 800px;
    margin: 60px auto;
}

.search {
    margin-left: 30px;
}

.info {
    margin: 40px;
}

.city-name, .weather-description {
    color: rgb(42, 87, 89);
    font-size: 26px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
     line-height: 0%;
}

.current-date, .current-weather-description {
    list-style: none;
    line-height: 1.1;
    color: rgb(106, 101, 101);
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.current-temperature img {
    height: 90px;
    width: 110px;
    margin-top: -15px;
    margin-right: -30px;
}

.degrees {
    color: rgb(42, 87, 89);
    font-size: 42px;
}

.unit {
    vertical-align: top;
    line-height: 45px;
    font-size: 14px;
}

.WeatherForecast-day {
    color: rgb(42, 87, 89);
    font-size: 18px;
    margin-bottom: -15px;
    font-weight: 600;
}

.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

footer {
    color: rgb(106, 101, 101);
    margin-top: 40px;
    margin-bottom: -25px;
    text-align: center;
}

@media (max-width: 770px) {
.search {
    margin-left: 0px;
}
.info {
    margin: 0px;
}
.current-temperature img {
    margin-top: -20px;
}
.degrees {
    font-size: 34px;
}
.unit {
    line-height: 35px;
    font-size: 10px;
}
.city-name, .weather-description {
    font-size: 22px;
    line-height: 0%;
}
.current-date, .current-weather-description {
    font-size: 14px;
}
.WeatherForecast-day {
    color: rgb(42, 87, 89);
    font-size: 16px;
    margin-bottom: -25px;
}
.WeatherForecastDays img {
    margin-left: -20px;
    margin-top: 10px;
}
.WeatherForecast-temperatures {
    margin-top: -10px;
}
}